@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");

* {
  box-sizing: border-box;
}
body,
ul,
li,
h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333533;
}

a {
  color: #333533;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  display: block;
  padding: 10px 30px;
  background: #f5cb5c;
  border-radius: 4px;
  color: #242423;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  transition: all 0.3s;
  border: none;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.btn:hover {
  background: #f0b719;
  transform: scale(1.1);
}
.btn-disabled,
.btn-disabled:hover {
  background: #e8eddf;
  transform: scale(1);
}

#site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid #e8eddf;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
  transition: all 0.3s;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
  border-color: #f5cb5c;
}

nav {
  display: grid;
  grid-template-columns: 150px 1fr 100px;
  grid-gap: 15px;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(30, 60, 90, 0.1);
}

.logo {
  padding: 10px 0;
}
.logo img {
  width: 90px;
}

footer {
  background: #f5cb5c;
  padding: 15px 0;
  text-align: center;
  font-size: 1.2rem;
  color: #333533;
  position: relative;
  top: 75px;
}

.products-container {
  max-width: 1000px;
  margin: 20px auto 0 auto;
  padding: 5px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 15px;
}

@media screen and (max-width: 500px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }
}

.product {
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  transition: all 0.2s;
  position: relative;
}
.product:hover {
  box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
  transform: scale(1.02);
  z-index: 1;
}
.product img {
  border-radius: 4px;
  margin-bottom: 20px;
}
.product .name {
  margin-bottom: 10px;
  line-height: 1.2rem;
  font-family: "Raleway", sans-serif;
}
.product .price {
  position: absolute;
  left: 10px;
  bottom: 103px;
  color: #e8eddf;
  background-color: rgba(51, 53, 51, 0.4);
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
}

.product .description {
  font-weight: 0.9rem;
}

.no-result {
  text-align: center;
  font-size: 1.3rem;
}

.search form {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 800px;
}

.search form #search {
  padding: 15px;
  border: none;
}

.search form #search:hover,
.search form #search:focus {
  transform: scale(1.05);
}

.search form #find {
  width: 56px;
  height: 56px;
  background: url("../img/search.svg") no-repeat center center;
  text-indent: -150px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.menu a {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  position: relative;
  background-color: #f5cb5c;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
  text-align: center;
  padding-top: 8px;
  font-size: 1.2rem;
}

.menu a:hover {
  transform: scale(1.1);
  transition: all ease-in-out;
}

.badge {
  border: 1px solid rgba(30, 60, 90, 0.1);
  border-radius: 100%;
  background-color: rgba(241, 240, 237, 0.7);
  color: #242423;
  position: absolute;
  top: -5px;
  right: 0;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bolder;
}

.pagination ul {
  grid-column: 1 / -1;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  padding: 2px 8px;
  border-radius: 2px;
  margin: 4px;
}

.pagination li a:hover,
.pagination li a.active {
  color: #242423;
  font-weight: bold;
  background-color: #f5cb5c;
}
